body{
    background: linear-gradient(to bottom, #023363, #0055a9);
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;

    font-family: "Open Sans", sans-serif;
    color: #fff;

    margin: 0;
}

.container1{
    width: 90%;
    height: 90%;
    margin-top: 30px;
    margin-left: 128px;

    display: grid;
    grid-template-columns: 1fr 3fr;
}

.box1{
    width: 381px;
    height: 317px;
}

.box1Header{
    font-size: 56px;
    font-weight: 700;
    line-height: 100%;
    font-weight: bold;

    width: 379px;
    height: 168px;
}

.box1Paragraph{
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    font-style: semibold;

    width: 381px;
    height: 189px;
}

.container3{
    width: 919.33px;
    height: 1230.72px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    row-gap: 64px;
    column-gap: 64px;

    margin-left: 128px;
}

.card{
    width: 395.67px;
    height: 94.82px;
}

.cardImage{
    width: 395.67px;
    height: 395.67px;
}

.cardHeader{
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    font-weight: bold;
}

.cardParagraph{
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    font-style: regular;
}
