body{
    background: linear-gradient(to bottom, #023363, #0055a9);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;

    font-family: Open Sans;
    color: #fff;

    margin: 0;
}

img{
    width: 395.67px;
    height: 395.67px;
}

.container1{
    width: 90%;
    margin: auto;
}

.box1{
    width: 381px;
    height: 317px;
}

.box1Header{
    font-size: 56px;
    font-weight: 700;
    line-height: 100%;
    font-weight: bold;

    width: 379px;
    height: 168px;
}

.box1Paragraph{
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;

    width: 381px;
    height: 189px;
}


