*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

/* 

* Update names logical maner
* irrevelant parts removed
* reset added
* moved things around

*/


body {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

.main-wrapper {
    padding: 4rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: #fff;
    background: linear-gradient(to bottom, #023363, #0055a9);
}

.slogan-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.slogan-header {
    font-size: 56px;
    font-weight: 700;
    line-height: 100%;
}

.slogan-paragraph {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
}

.cards-container {
    width: 100%;
    min-height: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.card {
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.cardImage {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    display: block;
}

.cardHeader {
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
}

.cardParagraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
}