body{
    background: linear-gradient(to bottom, #023363, #0055a9);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #fff;

    line-height: 1.6em;
    margin: 0;
}

img{
    width: 500px;
    height: 500px;
}

.container{
    width: 500px;
    margin: auto;
}

.box-1{

}

